.custom-tooltip {
    position: relative;
}

.tooltip-container {
    visibility: hidden;
    z-index: 1;
    color: white;
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 0.5em;
}

.custom-tooltip:hover > .tooltip-container {
    visibility: visible;
    background-color: black
}

.settings-icon {
    cursor: pointer;
    -ms-transform: translateY(25%);
    transform: translateY(25%);
    display: inline-block;
}