.window-manager-dark-mode {
    background-color: #1a1a1aff !important;
    color: white !important;
}

.window-manager-dark-mode *:not(img) {
    background-color: #1a1a1aff !important;
    color: white !important;
}
.window-manager-dark-mode a {
  color: #0067cd !important;
}
.window-manager-dark-mode a *:not(img) {
  color: #0067cd !important;
}
.window-manager-dark-mode code {
    background-color: grey !important;
}

.window-manager-dark-mode code span {
    background-color: grey !important;
}

.window-manager-dark-mode pre {
    background-color: grey !important;
}

.window-manager-dark-mode pre span {
    background-color: grey !important;
}

.window-manager-dark-mode img {
    background-color: white !important;
}