@import url('vars.css');

.window-manager-dark-mode {
    background-color: var(--dark-mode-background-color) !important;
    color: var(--dark-mode-text-color) !important;
    & *:not(img) {
        background-color: var(--dark-mode-background-color) !important;
        color: var(--dark-mode-text-color) !important;
    }
    & a, a *:not(img) {
        color: var(--dark-mode-link-text-color) !important;
    }
    & a:hover {
        background-color: var(--dark-mode-background-color) !important;
    }
    & code, code span, pre, pre span {
        background-color: var(--dark-mode-code-background-color) !important;
    }
    & *:has(a):hover {
        background-color: var(--dark-mode-background-color) !important;
    }
}